.drillup-btn {
  position: absolute;
  top: 12%; /* Updated top value */
  left: 5%;
  transform: translateY(-50%);
  z-index: 999;
  background-color: #46de8d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
